parameters:
	level: max
	paths:
		- src/
		- tests/
	excludePaths:
	    - tests/_fixtures

	checkUninitializedProperties: true

	ignoreErrors:
	    -
	        message: '#Access to an undefined property .+::\$action#'
	        paths:
	            - tests/JWT/CustomTokenGeneratorTest.php
	            - tests/JWT/IdTokenVerifierTest.php

includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
