<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         verbose="true"
         colors="true">

    <testsuites>
        <testsuite name="Firebase Token Tests">
            <directory>tests/Firebase/Auth/Token</directory>
        </testsuite>

        <testsuite name="Firebase JWT Tests">
            <directory>tests/JWT</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
