<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutOutputDuringTests="true"
    colors="true"
>
    <testsuites>
        <testsuite name="Firebase JWT Tests">
            <directory>tests/JWT</directory>
        </testsuite>
    </testsuites>

    <coverage ignoreDeprecatedCodeUnits="true"/>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
